<div class="container-fluid">
	<div class="row">
		<div class="col-sm-8">
			<ul>
				<li ng-repeat="cat in filteredCats | orderBy:'name':reverse | filter:neededCat" ng-click="select(cat)">
				<a href=''>{{cat.name}}</a> <span ng-show="cat.viewed">&#10004;</span>
				</li>
			</ul>
			<img src="{{selected.path}}" ng-click="increment(selected)"  width="300px"/>
			<p>{{selected.name}} ({{ selected.count }})</p>
			<button ng-click="voteIncrement(selected)">&#x2191;</button> <button ng-click="voteDecrement(selected)">&#x2193;</button>
			<ng-pluralize count="selected.voteCount"
		                when="{'0': 'No voting.',
		                       '1': '1 vote.',
		                       '-1': '-1 vote.',
		                       'other': '{} votes.'}">
		  </ng-pluralize><br>
	  </div>
	  <div class="col-sm-4">
	  	<select ng-change="sort()" ng-model="sorting" convert-to-number>
		  <option selected value="asc">Asc</option>
		  <option value="desc">Desc</option>
		</select>
	  	<form novalidate>
		    Search:<br>
		    <input ng-keyup="startSearch(substr)" type="text" ng-model="substr">
		    <button ng-click="search(substr)">Go!</button>
		 </form>
	  </div>
  </div>
</div>

