
<form name="addForm" novalidate ng-enter="addCat()" class="form-centered">

    <h2 class="form-signin-heading">Here comes new one..</h2>

    <input type="text" ng-model="newCat.Name" name="catName" class="form-control" placeholder="Name" required autofocus1>
    <span style="color:red" ng-show="addForm.catName.$dirty && addForm.catName.$invalid">
        <span ng-show="addForm.catName.$error.required">Kotik-name is required.</span>
    </span>

    <br />

    <cat-img model="newCat"></cat-img>

    <br />

    <input type="button" class="btn btn-lg btn-primary btn-block" ng-click="addCat()" value="Add this little mazafaka!"
           ng-disabled="addForm.catName.$dirty && addForm.catName.$invalid || 
           addForm.catPic.$dirty && addForm.catPic.$invalid" disabled/>

</form>