<div>
	<div class="col-md-4">			  
	  	{{catCtrl.model.name}}
	</div>
	<div class="col-md-2">			  
	  	<img style="margin-top:5px" ng-src="{{catCtrl.model.src}}" ng-click="catCtrl.click(catCtrl.model)" alt="{{catCtrl.model.count}}" title="{{catCtrl.model.count}}" height="50" width="50"/>
	</div>			
	<vote-spinner item="catCtrl.model"></vote-spinner>
	<div class="col-md-1">
		<span ng-show="catCtrl.model.is_viewed === 1">&#10003;</span>
	</div>						  				 		  		
	<div class="col-md-1">
		<button class="btn btn-danger" role="button" ng-click="catCtrl.remove(catCtrl.model)">Remove</button>
	</div>						  				 	
	<div class="col-md-1">
		<a class="btn btn-default" role="button" href="#/cat/{{catCtrl.model.id}}">View details &raquo;</a>
	</div>						  				 
</div>