<div>
    <div ng-show = "userNotActive" class="container">
        <div style="padding-bottom:0px; text-align: center">
            <h2>Sign in!</h2>
        </div>
        <form name="Login" class="form-signin" ng-submit="login()">
            <input name="userEmail" type="email" class="form-control" placeholder="Email address: user@example.com" autofocus="" ng-model="userEmail" required>
            <div ng-show="Login.$submitted || Login.userEmail.$touched" ng-messages="Login.userEmail.$error">
                <div ng-messages-include="shared/messengerValidator/messages.html"
                     class="errors"></div>
            </div>

            <input type="password" class="form-control" placeholder="Password" ng-model="userPassword" required="">
            <button class="btn btn-lg btn-primary btn-block" type="submit" name="signIn">Sign in</button>
            <a  class="btn btn-lg btn-primary btn-block" href="#/registration"> Registration </a>
        </form>
    </div>

    <div ng-show = "userActive" class="container">
        <div style="padding-bottom:0px; text-align: center">
            <h2>{{ userName }}</h2>
        </div>
        <a href="#/authorization" class="btn btn-lg btn-primary btn-block" type="submit" name="logout" ng-click="logout()">Logout</a>
    </div>
</div>