<div>
    <div class="row">
        <div class="col-xs-3 sorting">
            <select class="form-control" ng-change="list.sort()" ng-model="list.sorting" ng-init="list.sorting = 'asc'">
                <option selected value="asc">Asc</option>
                <option value="desc">Desc</option>
            </select>
        </div>
            <div class="input-group col-xs-5">
                <input ng-keyup="list.startSearch(substr)" ng-model="substr" type="text" class="search-query form-control" placeholder="Search" />
                <span class="input-group-btn">
                    <button class="btn btn-success" ng-click="list.search(substr)">
                        <span class=" glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
    </div>


    <div class="row cats-list">
        <div class="col-xs-10 col-md-11">        
        	<cats-item ng-repeat="cat in list.filteredCats | orderBy:'name':list.reverse"></cats-item>
        </div>
    </div>
</div>