<div>
    <div style="color:red"></div>
    <select ng-change="list.sort()" ng-model="list.sorting">
    	<option selected value="asc">Asc</option>
    	<option value="desc">Desc</option>
    </select>
    <form novalidate>
    	Search:<br>
    	<input ng-keyup="list.startSearch(substr)" type="text" ng-model="substr">
    	<button ng-click="list.search(substr)">Go!</button>
    </form>
    <ul>
        <li ng-repeat="cat in list.filteredCats | orderBy:'name':list.reverse">
        	<cats-item></cats-item>
        </li>
    </ul>
</div>