<div class="container col-md-4">
  <form name="addForm" enter-submit="submit()" novalidate>
    <div class="form-group">
        <label for="email">Cat name:</label>
        <input focus-on type="text" name="name" ng-model="cat.name" class="form-control" required>
        <div ng-messages="addForm.name.$dirty && addForm.name.$error">
          <div ng-messages-include="shared/formValidation/messages.html"></div>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Path:</label>
        <div>
          <input image-path-validator  type="text" name="path" ng-model="cat.path" class="form-control" pattern="https?://[a-z0-9_-]+\.[\S]+"/> <img ng-if="addForm.path.$valid" ng-src="{{cat.path}}" width="200px"/>
          <div class="form-group" ng-show="addForm.path.$dirty && addForm.path.$pending">
              <h5><span class="glyphicon glyphicon-search"></span>  Checking image path...</h5>
          </div>
        </div>
        <div ng-messages="addForm.path.$dirty && addForm.path.$error">
          <div ng-messages-include="shared/formValidation/messages.html"></div>
        </div>
    </div>
        <div class="form-actions">
          <button class="btn btn-primary" ng-click="submit()" ng-disabled="!addForm.name.$dirty || addForm.name.$invalid ||
        !addForm.path.$dirty || addForm.path.$invalid">Add cat</button>
        </div>
  </form>
</div>