<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Cats Viewer</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':selectedTab === '/'}" ng-click="changeTab('/')"><a href="/">View Cats</a></li>
                <li ng-class="{'active':selectedTab === '/add'}" ng-click="changeTab('/add')" ng-show="isLogged()"><a href="/add">Add New Cat</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{'active':selectedTab === '/profile/register'}" ng-click="changeTab('/profile/register')" ng-hide="isLogged()"><a href="/profile/register">Register</a></li>
                <li ng-class="{'active':selectedTab === '/profile/login'}" ng-click="changeTab('/profile/login')" ng-hide="isLogged()"><a href="/profile/login">Log in</a></li>
                <li ng-show="isLogged()" ng-click="navigationLogout(); changeTab('/')"><a href="/">Log out</a></li>
            </ul>

        </div>
    </div>
</nav>

