<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Cats application</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <!-- build:css /build/app.css -->
    <link rel="stylesheet" type="text/css" href="/app/app.css"/>
    <!-- /build -->
    <script src="/bower_components/angular/angular.min.js"></script>
    <!-- build:js /build/angular-training.js -->
    <script src="/app/app.js"></script>
    <script src="/app/components/services/cats.service.js"></script>
    <script src="/app/components/directives/previewImage.directive.js"></script>
    <script src="/app/components/directives/enter.directive.js"></script>
    <script src="/app/components/controllers/addCatController.js"></script>
    <!-- /build -->
</head>
<body ng-app="app" ng-cloak>
<nav class="navbar navbar-inverse navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Cats Aplication</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class=""><a href="/">Home</a></li>
                <li><a href="addcat.html">Add Cat</a></li>
                <li><a href="profile.html">Profile</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="starter-template">
        <h1>Add New Cat</h1>

        <div ng-controller="addCatController">
            <form name="newForm" novalidate ng-submit="saveCat(newCat)">
                <div class="form-group">
                    <label>Cat Name</label>
                    <input name="name" class="form-control" id="exampleInputEmail1" ng-model="newCat.name" required>
                    <span class="error" ng-show="newForm.name.$error.required && newForm.name.$touched">Username is required.</span>
                </div>
                <div class="form-group">
                    <preview-image cat="newCat"></preview-image>
                </div>
                <input type="submit" class="btn btn-default" ng-disabled="newForm.$invalid" value="Submit">
                <button class="btn btn-default" ng-click="editFormCancel($event)">Cancel</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>