img {
	width: 160px;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.error {
	color: red;
}
.cats li {
	cursor: pointer;
}
.login-panel {
	color: #fff;
	padding: 15px;
}