<form name="addForm" novalidate ng-enter="addCat()">

    Cat name: <input type="text" ng-model="newCat.Name" name="catName" required autofocus1>
    <span style="color:red" ng-show="addForm.catName.$dirty && addForm.catName.$invalid">
        <span ng-show="addForm.catName.$error.required">Kotik-name is required.</span>
    </span>

    <br />

    <section cat-img></section>

    <br />

    <input type="button" ng-click="addCat()" value="Add cat!"
           ng-disabled="addForm.catName.$dirty && addForm.catName.$invalid || 
           addForm.catPic.$dirty && addForm.catPic.$invalid" disabled/>

</form>