<h2>Add a New Cat</h2>
<div ng-controller="catsAdd">
    <form name="catAdd" novalidate>

        <div class="alert alert-danger" ng-show="catAdd.name.$touched && catAdd.name.$error.required || catAdd.path.$touched && catAdd.path.$error.required || !catAdd.path.$error.required && catAdd.path.$touched && catAdd.path.$invalid">
            <ul>
                <li ng-show="catAdd.name.$touched && catAdd.name.$error.required">Cat's Name is required.</li>
                <li ng-show="catAdd.path.$touched && catAdd.path.$error.required">Url of a Cat's Picture is required.</li>
                <li ng-show="!catAdd.path.$error.required && catAdd.path.$touched && catAdd.path.$invalid">Url of a Cat's Picture is invalid.</li>
            </ul>
        </div>

        <div class="form-group">
            <label for="name">Cat's Name:</label>
            <input type="text" class="form-control" ng-model="name" id="name" name="name" required="" />
        </div>

        <div class="form-group">
            <label for="path">Url of a Cat's Picture:</label>
            <input type="url" class="form-control" ng-model="path" id="path" name="path" required="" />
        </div>

        <button type="button" class="btn btn-lg btn-success" ng-click="add()" ng-class="setClass()">Add new cat</button>
        <button type="button" class="btn btn-lg btn-warning" ng-click="cancel(addCat)">Cancel</button>
    </form>
</div>
