<div class="row">
    <div class="col-sm-8">
        <div class="form-group">
            <label for="search">Search:</label>
            <input ng-change="catsFilter()" type="text" class="form-control" placeholder="Enter the name of the cat..." id="search" ng-model="name" autocomplete="off" ng-minlength="3" />
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="order">Order By:</label>
            <select class="form-control" id="order" ng-model="order" ng-init="order = 'name'" ng-change="catsFilter()">
                <option value="name">Name</option>
                <option value="-votes">Votes</option>
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <table class="table" ng-init="catsFilter()">
            <thead>
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Votes</th>
                <th>Operations</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="cat in cats track by cat.id">
                <td>
                    <h5><a href="#view" ng-click="openCat($index)">{{cat.name}}</a> <span class="glyphicon" ng-class="{'glyphicon-ok':cat.viewed > 0}"></span></h5>
                </td>
                <td>{{cat.author}}</td>
                <td>{{cat.votes}}</td>
                <td>
                    <button type="button" class="btn btn-sm btn-success" ng-click="openCat($index)" data-toggle="modal" data-target="#catModal">View</button>
                    <button type="button" class="btn btn-sm btn-danger" ng-click="deleteCat(cat)" ng-show="catAccess(cat)">Delete</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
