<div>
    <h5>
        <ng-pluralize count="cat.votes"
                      when="{'0': '{} votes',
                         '1': '{} vote',
                         '-1': '{} vote',
                         'other': '{} votes'}">
        </ng-pluralize>
    </h5>
    {{voteAccessMessage(cat)}}
    <div class="btn-group">
        <button type="button" class="btn btn-success glyphicon glyphicon-thumbs-up" ng-show="voteAccess(cat)" ng-click="vote(cat)"></button>
        <button type="button" class="btn btn-danger glyphicon glyphicon-thumbs-down" ng-show="voteAccess(cat)" ng-click="disvote(cat)"></button>
    </div>
</div>
