<h2>Log in</h2>
<div ng-controller="profileLogin">
    <div class="alert alert-danger" ng-show="loginError">
        <strong>Username or Password is incorrect.</strong>
    </div>

    <div class="alert alert alert-success" ng-show="registeredMessage">
        <strong>Congratulations, you are registered! Now you can log-in using your username and password.</strong>
    </div>

    <form name="profileLogin" novalidate>
        <div class="form-group">
            <label for="name">User Name:</label>
            <input type="text" class="form-control" ng-model="name" id="name" name="name" required="" />
            <div ng-show="profileLogin.name.$touched">
                <div ng-show="profileLogin.name.$error.required">
                    <div class="alert alert-danger">
                        <strong>User Name is required.</strong>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" class="form-control" ng-model="password" id="password" name="password" required="" />
            <div ng-show="profileLogin.password.$touched">
                <div ng-show="profileLogin.password.$error.required">
                    <div class="alert alert-danger">
                        <strong>Password is required.</strong>
                    </div>
                </div>
            </div>
        </div>

        <button type="button" class="btn btn-lg btn-success" ng-click="loginProfile()" ng-class="loginFormSubmitClass()">Log in</button>
        <button type="button" class="btn btn-lg btn-warning" ng-click="loginCancel()">Cancel</button>
    </form>
</div>
