/* app css stylesheet */

.vcenter {
  display: inline-block !important;
  float: none !important;
  vertical-align: middle !important;
  margin:0 auto !important;
}

.cat-item {
  cursor: pointer;
  padding: 15px 0;
  margin-top: 15px;
  background-color: #a9bfd3;
  border-radius: 5px;
}

.choose {
  padding-top: 80px;
}

.choose img {
  width: 350px;
}

.row .sorting {
  max-width: 115px;
  padding-left: 0px;
  padding-bottom: 15px;
}