<h1>{{title}}</h1>
<form name="newForm" novalidate ng-submit="saveCat(newCat)">
    <div class="form-group">
        <label>Cat Name</label>
        <input name="name" class="form-control" id="exampleInputEmail1" ng-model="newCat.name" required>
        <span class="error" ng-show="newForm.name.$error.required && newForm.name.$touched">Username is required.</span>
    </div>
    <div class="form-group">
        <preview-image cat="newCat"></preview-image>
    </div>
    <input type="submit" class="btn btn-default" ng-disabled="newForm.$invalid" value="Submit">
    <button class="btn btn-default" ng-click="editFormCancel($event)">Cancel</button>
</form>

