<form name="addCatForm" novalidate ng-submit="addCat()" ng-controller="CatController" style="margin-left: 50px;">
  <fieldset>
    <legend>Cat Details</legend>
	<div>
		<span>Name:</span>
		<span><input type="text" style="width: 150px" ng-model="cat.name" ng-maxlength=20 /></span>
	</div>
	<br/>
	<div>
		<span>Age:</span>
		<span><input type="number" style="width: 150px" ng-model="cat.age" ng-minlength="2" /></span>
	</div>	
	<br/>
	<div>
		<span>Gender:</span>
		<span><input type="text" style="width: 150px" ng-model="cat.gender" /></span>
	</div>	
	<br/>
    <button type="submit">Add</button>
  </fieldset>
</form>
