<div>
	<div class="col-md-4">			  
	  	{{catCtrl.model.name}}
	</div>
	<div class="col-md-2">			  
	  	<img ng-src="{{catCtrl.model.src}}" ng-click="catCtrl.click(catCtrl.model)" alt="{{catCtrl.model.count}}" title="{{catCtrl.model.count}}" height="50" width="50"/>
	</div>			
	<div class="col-md-1">
		<i class="glyphicon glyphicon-thumbs-up" ng-click="catCtrl.updateVote(catCtrl.model, 1)"></i>				
	</div>							
	<div class="col-md-1">
		<span class="badge">{{catCtrl.model.votes}}</span>
	</div>
	<div class="col-md-1">
		<i class="glyphicon glyphicon-thumbs-down" ng-click="catCtrl.updateVote(catCtrl.model, -1)"></i>				
	</div>				
	<div class="col-md-2">
		<a class="btn btn-default" href="#" role="button" ui-sref="catDetail({id: catCtrl.model.id})">View details &raquo;</a>
	</div>						  				 
	<div class="col-md-2">
		<span ng-show="cat.is_viewed === 1">&#10003;</span>
	</div>						  				 		  	
</div>