<h1>List of Cats</h1>

<p ng-pluralize count="happyCats.length" offset="1"
   when="{'0': 'Any happy cats',
                         '1': '{{happyCats[0].name}} cat is happy.',
                         '2': '{{happyCats[0].name}} and {} cats are happy',
                         'other': '{{happyCats[0].name}} and {} cats are happy'}"></p>

<div class="form-inline">
    <div class="form-group">
        <label>Search: </label>
        <input name="search" ng-model="search" class="form-control" placeholder="Write something..." focus>
        <button ng-click="applySearch(search)" class="btn btn-primary">Apply</button>
    </div>
    <div class="form-group">
        <label>Sorting: </label>
        <select ng-model="sort" class="form-control">
            <option value="name">AtoZ</option>
            <option value="-name">ZtoA</option>
        </select>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="cats row">
            <br>
            <ul>
                <li ng-repeat="cat in cats | filter:searchSrt | orderBy:sort"
                    ng-click="showCat(cat); catViewer(cat);"
                    class="{{cat.viewed ? 'bg-info' : ''}}">
                    {{cat.name}}
                    <span ng-show="isOwner(cat)">
                        <a href="#/cat/edit/{{cat.id}}" class="btn btn-link">Edit</a>
                        <span ng-click="deleteConfirm(cat);" class="btn btn-link">Delete</span>
                    </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-6">
        <div ng-if="showedCat">
            <h2>{{showedCat.name}}</h2>
            <img ng-src="{{showedCat.source}}"/>
            <vote-spinner obj="showedCat" update="likeCat(cat)"></vote-spinner>
            <p>{{showedCat.date | date: 'd MMM yyyy - hh:m:s'}}</p>
        </div>
    </div>
</div>