<div ng-controller="CatsController as catsCtrl"> 
		<div>
			<span>Cats list</span>
		</div>
		<input type="text" ng-model="catsCtrl.CatFilter.Value"/>
		<select ng-model="catsCtrl.CatFilter.OrderBy">
		  <option value="name">Name</option>
		  <option value="votes">Votes</option>
		  <option value="count">Clicks</option>
		</select>
		<button type="button" class="btn btn-warn glyphicon" ng-click="catsCtrl.filter(catsCtrl.CatFilter)">Find</button>
		<div ng-repeat="cat in catsCtrl.filteredCats">
			<h1 style="background-color:green">
				<a ui-sref="catDetail({id: cat.id})">{{cat.name}}</a>
				<button type="button" class="btn btn-success glyphicon glyphicon-thumbs-up" ng-click="catsCtrl.updateVote(cat, 1)"></button>				
				<span>
					<ng-pluralize count="cat.votes" when="{'0': '0',
													'one': '1 vote',
													'other': '{} votes'}">
					</ng-pluralize>
				</span>
				<button type="button" class="btn btn-success glyphicon glyphicon-thumbs-down" ng-click="catsCtrl.updateVote(cat, -1)"></button>
				<span ng-show="cat.is_viewed === 1">&#10003;</span>
			</h1>
		</div>
</div>
<h1 style="background-color:gray"><a ui-sref="catAdd">Add new</a></h1>