<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <div ng-show="vm.error" class="alert alert-danger">{{vm.error}}</div>
    <form name="form" ng-submit="vm.register()" role="form">
        <div class="form-group" ng-class="{ 'has-error': form.username.$dirty && form.username.$error.required }">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" class="form-control" ng-model="vm.user.username" required />
            <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.password.$dirty && form.password.$error.required }">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" ng-model="vm.user.password" required />
            <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
        </div>
        <div class="form-group" ng-class="{ 'has-error': form.confPassword.$dirty && form.confPassword.$error.required }">
            <label for="confPassword">Confirm password</label>
            <input type="password" name="confPassword" id="confPassword" class="form-control" ng-model="vm.user.confPassword" required />
            <span ng-show="form.confPassword.$dirty && form.confPassword.$error.required" class="help-block">Confirm Password is required</span>
        </div>
        <div class="form-actions">
            <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Register</button>
            <a href="#/login" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>