<div id="editCat" ng-controller="EditCatCtrl">
	<p>Edit Cat</p>
	<div >
	<form id="editCatForm" style="display:inline; width:300px;">
		<label for="#name">Name</label>
			<input type="text" name="catName" id="#name" ng-model="cat.name"/><p/>
		<label for="#image">URL to image</label>
			<textarea rows="4" cols="50" name="catPicture" id="#image" ng-model="cat.image"></textarea><p/>
		<label for="#votes">Votes for cat (RO)</label>
			<input type="text" name="catVotes" id="#votes" ng-model="cat.votes" disabled/><p/>
		<label for="#click">Click on cat (RO)</label>
			<input type="text" name="catClicks" id="#click" ng-model="cat.click" disabled /><p/>
	</form>
	</div>
	<div style="display:inline;">
		<img src="{{ cat.image }}"/>
	</div>
</div>