<p>This is the partial for view 1.</p>
<div ng-controller="ViewCatsListCtrl">
    Filter by: <input type="text" ng-model="filterBy"/><button ng-click="doFilter();">FILTER</button><p/>

    <hr/>
    <span ng-if="tooltip.length>0">Suggestions:</span> 
    <div ng-repeat = "x in tooltip ">
    {{ x }}
    </div>


<hr/>

    <div style="float: left; width:25%; border:1px; border-style:dotted;">

        <div ng-repeat = "x	in cats | filter:filterExpression | orderBy:'name'">
            <div>
            <span ng-click="selectCat(x);">
                {{ $index }} : {{ x.name }} / {{ x.click }}                
            </span>
            <span class="glyphicon fa fa-pencil" ng-click="changeView('/view3',x);"></span>
            <span class="glyphicon glyphicon-thumbs-up" ng-show="x.isViewed"></span>
            </div>
                
        </div>
    </div>
    <div style="float: right; border:1px; border-style:solid; width:75%;">
        <p> {{ selectedCat.name }}</p>
        <img ng-click="toggle();" src="{{ selectedCat.image }} "/><p/>
        <p>Click via ctrl</p> 
        <p style="width:100px;">{{ selectedCat.image }}</p>

        <div class="input-group" ng="selectedCat.isActive" style = "width:120px;">
            <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-value="-1" data-target="#spinner2" data-toggle="spinner" ng-click="voteDown();">
                    <span class="glyphicon fa fa-hand-o-down"></span>
                </button>
            </span>
            
            <input type="text" data-ride="spinner" id="spinner2" class="form-control input-number" data-min="0" data-max="10" ng-model="selectedCat.votes"  >

            <span class="input-group-btn">
                <button type="button" class="btn btn-default" data-value="1" data-target="#spinner2" data-toggle="spinner" data-on="mousehold" ng-click="voteUp();">
                    <span class="glyphicon fa fa-hand-o-up"></span>
                </button>
            </span>
        </div>
        
    </div>


</div>

